 html{
     height: 100vh;
     width:100vw;
 }
 body {
   background-image: url("./resources/peacock.jpg");
   background-size: cover;
   margin:4%;
   background-repeat: no-repeat;
   color:whitesmoke;
  }
  img{
   z-index:1;

  }
  nav {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black;
    opacity: 0.5;
    top:0;
    left:0;
    min-height: 5%;
    margin:0;
    width:90%;
    margin-left: 4%;
    color: whitesmoke;
    position: fixed;
    margin-bottom:5%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}
nav > h1{
    font-size: 25px;
   
}
#gamesore{
   text-align: right;
   font-size:18px;
}

#gamebox{
    background-color: black;
    opacity:0.5;
    /* order:1; */
    /* top:50%; */
    font-family: 'Muli', sans-serif;
    border-left: 1px solid white;
    border-bottom:1px solid white;
    border-right: 1px solid white;
    min-width: 45%;
    font-size: 18px;
    text-align: center;
    margin-top:4%;
    margin-right:2.5%;
    align-self: center;
}
.mainpage{
    clear:both;
    position:relative;
    justify-content:space-between; 
    margin-top:5%;
    min-width:80%;
    height:70vh;
    display: flex;
    align-items:center;
}
button{
    width:80%;
    color:grey;
    border-radius: 10px;
    font-size: 18px;
    padding:2%;
    margin-top:2%;
    margin-bottom:2%;
}
#singerscontainer{
    width:90%;
    bottom:0;
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
}
#singerlist{
   display:inline;
   font-size: 20px; 
}
.names{
  padding-right: 1%;
  padding-left:1%;
  margin : 1%;
  font-size: 16px;
}
#results{
    font-family: 'Muli', sans-serif;
    background-color:black;
    /* opacity:0.5; */
    text-align:center;
    margin-top:3%;
    margin-right:4%;
    min-width:35%;
    /* padding-top: 3%; */
}

@media only screen and(max-width:730px){
    
    #mainpage{
        display:block;
        
    }
    #gamebox{
      margin-top: 5%;
      width:90%;
    }
    #results{
     margin-top: 5%;
      width:90%; 
    }
    #singersontainer{
        display: block;
    }
   
}
/* @media only screen and (max-width:730px){
    
} */